body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", regular;
}

.header {
    height: 900px;
    width: 100%;
    background: no-repeat center url(../img/back_heder.png);
    background-size: cover;
}

.information_header {
    display: block;
}

.section_block {
    margin-left: 240px !important;
}

.logo_img {
    width: 56px;
    height: 40px;
    margin-top: 22px;
}

.logo_text {
    font-family: "Roboto", bold;
    font-size: 22px;
    color: black;
    margin-left: 20px;
    margin-top: 30px;
}

.logo {
    display: flex;
    justify-content: left;
    height: 56px;
}


/* logo end */

.header_nav {
    display: flex;
    justify-content: left;
    margin-left: 85px;
}

.recomendation {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}

.img_heder,
.img_heder_2,
.img_heder_3 {
    width: 40px;
    height: 40px;
    color: #a3acb5;
}

.img_heder_2,
.img_heder_3 {
    width: 26px;
}

.content_header {
    font-size: 16px;
    font-family: "Roboto", bold;
    color: #a3acb5;
    margin-left: 15px;
}


/* end nav */

.text_main {
    width: 400px;
    margin-top: 70px;
    margin-right: 40px;
}

.tablet {
    width: 557px;
    height: 350px;
    position: relative;
    top: 446px;
    left: 60px
}

.first_text_heder {
    font-size: 44px;
    width: 400px;
    font-weight: 700;
    color: #383334;
}

.second_text_header {
    font-size: 34px;
    font-family: "Roboto", bold;
}

.content_class {
    color: #444444;
}

.application {
    width: 370px;
    margin-bottom: 30px;
}

.fluorinated_text {
    margin-top: 40px;
}

.class_img {
    width: 60px;
    height: 60px;
    background-image: url(../img/2i1.png);
    background-size: cover;
    text-align: center;
}

.appliacation_text {
    position: relative;
    top: 50%;
    transform: translateY(-15px);
    color: white;
    font-size: 20px;
    font-family: "Roboto", bold;
}

.content_class {
    width: 290px;
    color: #000000;
    font-family: "Roboto", Regular;
    line-height: 24px;
    margin-left: 20px;
    font-size: 20px;
}

.content_bold,
.content_after_1,
.content_after_2 {
    font-weight: 900;
}


/* free */

.advertising_header {
    width: 310px;
    height: 550px;
    background-image: url(../img/advertising.png);
    background-size: cover;
    background-position: 0 100%;
    margin-top: 70px;
    margin-bottom: 0 !important;
}

.free_img {
    width: 28px;
    height: 15px;
    margin: 2px 10px 0px 0px;
}

.free {
    color: #444444;
    font-size: 16px;
}

.text_fee {
    position: relative;
    width: 118px;
    height: 15px;
    top: 10px;
    left: 50%;
    transform: translateX(-38%);
}

.advertising_text {
    width: 310px!important;
    margin: 55px 55px 12px 55px !important;
    /* text-align: center; */
}

.rub {
    color: grey;
    width: 20px;
    height: 27px;
}

.text_sale {
    width: 170px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    line-height: 24px;
}

.accent_sale {
    color: #ff6b00;
}

.change_price {
    width: 240px!important;
}

.price_block {
    margin: 0 auto!important;
    text-align: center;
}

.price,
.price_1 {
    height: 60px;
    text-align: center;
}

.price_1 {
    margin-left: 17px;
}

.text_price_end {
    text-align: center;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}

.text_price_start {
    text-align: center;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.price_img_end {
    background: no-repeat center url(../img/cros.png);
    width: 85px;
    height: 40px;
    background-size: cover;
}

.price_end {
    font-size: 34px;
    font-weight: 500;
    font-family: "Roboto", light;
    position: relative;
    top: -1px;
}

.price_img_start {
    background: #ffbf02;
    width: 106px;
    height: 40px;
    border-radius: 5px;
}

.price_start {
    font-size: 34px;
    font-weight: 900;
    position: relative;
    top: -2px;
}

.icon_user,
.icon_telefon {
    width: 20px;
    height: 23px;
    position: relative;
    top: 33px;
    left: -160px;
}

input[type="text"] {
    width: 220px;
    height: 50px;
    background: #eef2f7;
    border-radius: 30px 30px 30px 30px;
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    outline: none;
    padding-left: 60px;
    position: relative;
    top: 35px;
    left: 50%;
    transform: translateX(-51%);
    outline: none;
    border: none;
    margin-bottom: 10px;
}

input::placeholder {
    font-size: 16px;
    color: #666666;
    font-weight: 500;
}

.button_submit {
    padding: 10px 40px 10px 40px;
    background: #ffc902;
    border: none;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 800;
    position: relative;
    top: 35px;
    left: 50%;
    transform: translateX(-51%);
    width: 220px;
    color: #1a1616;
    cursor: pointer;
}

.button_submit:hover {
    background: #74ff02;
    color: #000000;
}


/* 
@media screen and (max-width: 1024px) {
    .header {
        height: 1000px;
    }
    .section_block {
        margin-left: 0!important;
        margin-bottom: 30px;
    }
    .tablet {
        display: none;
    }
    .recomendation {
        display: none;
    }
    .information_header {
        margin-left: 40px!important;
    }
    .advertising_header,
    .text_main {
        margin: 0 auto;
    }
} */


/* input */

.balance {
    width: 190px;
    color: #333333;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-90px);
    top: 44px;
}

.balance_color {
    color: #9dbd39;
}

.protection {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef2f7;
    width: 238px;
    height: 35px;
    border-radius: 0 0 12px 12px;
    position: relative;
    left: 36px;
    top: 44px;
}

.protection_img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.protection_text {
    color: #666666;
    font-size: 14px;
    position: relative;
    top: 5px;
}


/* information */

.information {
    background: #f2fafb no-repeat url(../img/back_2_block.png);
    background-position: 0 100%;
    background-size: cover;
    height: 920px;
}

.header_inform,
.pill_fundall_head,
.block_micozhin {
    text-align: center;
    padding-bottom: 30px;
}

.inform_header,
.pill_fundall_header,
.micozhin_header {
    font-size: 44px;
    color: #383334;
    font-weight: 800;
    padding-top: 20px;
    margin-bottom: 40px;
    width: 720px;
}

.inform_content,
.pill_fundall_content {
    font-size: 21px;
    color: #383334;
    font-weight: 800;
    width: 920px;
}

.inform {
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}

.block_inform {
    width: 340px;
    height: 320px;
}

.text_img {
    font-size: 22px;
    color: #000000;
    width: 100px;
    font-weight: 700;
    position: relative;
    top: 70px;
    left: 20px;
}

.img_1 {
    padding-bottom: 20px;
}

.content_allergy {
    font-size: 18px;
    color: #444444;
    text-align: left;
    width: 300px;
}

.statistic,
.conclusion {
    width: 1100px;
    height: 140px;
    border: 3px solid #f4d3bb;
    border-radius: 20px 20px 20px 20px;
}

.statistic_content_black {
    font-weight: 700;
}

.statistic_content,
.conclusion_content {
    width: 1000px;
    color: #444444;
    font-size: 22px;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 80px;
    line-height: 28px;
}

.img_stat_decor {
    width: 140px;
    height: 40px;
    background: white;
    position: relative;
    top: -20px;
    left: 50%;
    transform: translateX(-70px);
}

.static_img {
    position: relative;
    left: 50%;
    transform: translateX(-20px);
}


/* section efficiency */

.efficiency {
    background: #f2fafb;
    height: 1200px;
}

.header_efficiency {
    padding-top: 40px;
    text-align: center;
}

.inform_header {
    width: 1000px;
}

.section_efficiency {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.block_efficiency {
    background: no-repeat url(../img/back_why.png);
    width: 380px;
    height: 650px;
    background-position: 0 100%;
    background-size: cover;
}

.content_block {
    width: 300px;
    height: 600px;
    margin: 0 auto;
}

.header_content {
    color: #000000;
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.promise_content {
    color: #222222;
    font-size: 18px;
    font-family: "roboto", medium;
    height: 70px;
    text-align: center;
}

.product_content {
    color: #666666;
    font-size: 16px;
    font-family: "Roboto, italic";
    text-align: center;
}

.disain {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 310px;
    height: 11px;
}

.but_content {
    font-size: 24px;
    color: #ff6b00;
    font-weight: 800;
    text-align: center;
}

.text_content {
    text-align: center;
    color: #444444;
    font-size: 18px;
    margin-bottom: 18px;
    height: 240px;
    line-height: 26px;
    overflow: hidden;
}

.decor_block,
.decor_block_1 {
    position: relative;
    top: -20px;
    left: 50%;
    width: 70px;
    height: 70px;
    transform: translateX(-15px);
}

.decor_block_1 {
    transform: translateX(-10px);
    width: 65px;
}

.text_contetnt_black {
    font-weight: 700;
}

.conclusion {
    margin-top: 60px;
}

.consulusion_decor {
    width: 140px;
    height: 40px;
    background: #f2fafb;
    position: relative;
    top: -20px;
    left: 50%;
    transform: translateX(-70px);
}

.consulusion_text {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

.conclusion_content {
    font-size: 21px;
    padding-left: 100px;
    position: relative;
    top: -15px
}


/* end efficiency*/

.pill_fundall {
    background-image: url(../img/back_3.png);
    background-color: #edf7f9;
    background-size: cover;
    background-position: 0 100%;
    height: 980px;
}

.pill_fundall_header_color,
.micozhin_header_color {
    color: #fa4f01;
}

.pill_fundall_content {
    font-weight: 500;
}

.folck {
    background: no-repeat url(../img/back_folck.png);
    background-size: cover;
    background-position: 0 100%;
    width: 362px;
    height: 300px;
}

.folck_3 {
    background: no-repeat url(../img/back_folck_3.png);
    width: 362px;
    height: 300px;
    background-size: cover;
    background-position: 0 100%;
}

.font_block {
    margin: 0 auto;
    width: 300px;
    position: relative;
    top: 65px;
}

.folck_text {
    font-size: 24px;
    color: #000000;
    text-align: center;
    font-family: "Roboto", bold;
}

.folck_content {
    color: #444444;
    text-align: center;
    line-height: 24px;
    font-family: "Roboto", regular;
    font-size: 18px;
}

.folck_content_black {
    font-weight: 700;
}

.folck_img,
.folck_img_2,
.folck_img_3 {
    width: 100px;
    height: 80px;
}

.folck_img_2 {
    width: 130px;
    height: 95px;
}

.folck_img_3 {
    width: 80px;
    height: 60px;
}

.bk_folck_img,
.bk_folck_img_2,
.bk_folck_img_3 {
    width: 150px;
    height: 100px;
    position: relative;
}

.bk_folck_img {
    top: 40px;
    left: 50%;
    transform: translateX(-49px);
}

.bk_folck_img_2 {
    top: 35px;
    left: 50%;
    transform: translateX(-65px);
}

.bk_folck_img_3 {
    top: 55px;
    left: 50%;
    transform: translateX(-43px);
}

.pill_fundall_block {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.block_why {
    width: 850px;
    height: 100px;
    margin-top: 30px;
    border: double 4px transparent;
    border-radius: 15px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(246, 77, 1), rgb(98, 189, 31));
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.why_content {
    color: #000000;
    font-size: 27px;
    width: 815px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.why_content_color {
    color: #f64d01;
    background: #ffffff;
}

.pill_fundall_head {
    margin-top: 0;
    padding-top: 70px;
}


/* section why micozhin */

.why_micozhin {
    height: 750px;
    background-color: #f2fafb;
}

.block_micozhin {
    margin-top: 0;
    padding-top: 70px;
}

.use_metod {
    margin-left: 30px;
}

.use_contetnt {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    width: 215px;
    height: 70px;
    margin: 30px 0px 0 35px;
}

.use_contetnt::before {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #7bbf1c;
    margin-bottom: 20px;
    clear: both;
}

.use_img {
    height: 135px;
    width: 135px;
}

.micozhin {
    height: 400px;
    width: 400px;
}

.use_blok_1,
.use_blok_2,
.use_blok_3 {
    display: flex;
    margin-bottom: 15px;
}

.footer {
    position: relative;
    justify-content: center;
}


/* adaptive */