@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 750px;
    background: url(../img/Группа\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 40%;
}

.header_nav {
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    position: relative;
    left: 100px;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-transform: lowercase;
    color: #071f18;
    text-decoration: none;
    font-size: 30px;
    font-family: "Kelly Slab", regular;
    margin-left: 20px;
    margin-top: 40px;
    display: block;
}

.icon_burger {
    width: 40px;
    height: 40px;
    position: relative;
    top: -45px;
    left: 100%;
    display: none;
}

nav a:after {
    float: both;
    content: "";
    display: block;
    height: 5px;
    width: 45px;
    background: #caeee4;
    transition: #caeee4 0.2 linear;
    opacity: 0;
    transition: opacity 0.1s linear;
    clear: both;
}

nav a:hover {
    color: #727573;
    text-decoration: none;
}

nav a:hover:after {
    opacity: 1;
}

.photo {
    height: 700px;
    width: 350px;
    background-image: url(../IMG_0439.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    position: relative;
    top: -100px;
}

#name {
    font-size: 60px;
    font-family: "Kelly Slab", regular;
    position: relative;
    top: 20%;
    left: 30%;
    margin-bottom: 20px;
}

#position {
    font-size: 30px;
    font-family: "Kelly Slab", regular;
    position: relative;
    top: 20%;
    left: 30%;
    margin-bottom: 20px;
}


/* end header */

.section_me {
    height: 750px;
    width: 100%;
    background: #effaf7;
    padding-left: 190px;
}

.for_me,
.skills,
.education,
.portfolio {
    text-transform: uppercase;
    color: #071f18;
    font-family: "Kelly Slab", regular;
    font-size: 45px;
    padding-top: 116px;
}

.text {
    text-transform: uppercase;
    font-family: "Montserrat", regular;
    font-size: 25px;
    color: #000000;
    padding-top: 33px;
}

.information {
    font-size: 25px;
    color: #3c3f3e;
    padding-top: 33px;
    font-family: "Montserrat", regular;
}

.content {
    margin-top: 70px;
    margin-left: 70px
}

.icon {
    width: 25px;
    height: 20px;
    text-decoration: none;
    color: #3c3f3e;
    margin: 10px;
}

.icon:hover {
    background: #3618b9;
    color: white;
    border: 2px solid #3618b9;
    border-radius: 5px;
}

.button {
    width: 235px;
    height: 64px;
    background: #5fdcb9;
    text-decoration-line: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Montserrat", regular;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.button a {
    text-decoration: none;
    color: #000000;
}

.button a:hover,
.button:hover {
    color: #252525;
    background: #80f0d0;
}

.button_position {
    position: relative;
    transform: translateX(-30%);
    left: 50%;
}


/* end section for_me */

.section_skills {
    height: 620px;
    width: 100%;
    background: white;
    padding-left: 190px;
}

.skills {
    padding-bottom: 70px;
}

.text_skills {
    font-family: "Montserrat", regular;
    font-size: 25px;
    text-transform: uppercase;
    color: #071f18;
    padding-bottom: 32px;
}

.content_skills {
    font-family: "Montserrat", regular;
    font-size: 20px;
    text-transform: uppercase;
    color: #3c3f3e;
}

.first_skills {
    padding-left: 75px;
}


/* end section skills */

.section_education {
    height: 930px;
    width: 100%;
    background: #effaf7;
    padding-left: 190px;
}

.name_colige,
span,
.time,
.specialty {
    color: #000000;
    font-family: "Montserrat", regular;
    font-size: 25px;
    text-transform: lowercase;
}

.name_colige {
    text-transform: uppercase;
}

span {
    color: #8c8c8c;
}

.time {
    color: #3c3f3e;
    padding-bottom: 20px;
}

.specialty {
    color: #3c3f3e;
}

.universati {
    margin-top: 70px;
    margin-left: 75px;
}


/* end education */

.section_portfolio {
    height: 1150px;
    width: 100%;
    background: white;
    padding-left: 190px;
}

.portfolio {
    padding-bottom: 70px;
}

.portfolio_indicator {
    color: #071f18;
    font-family: "Montserrat", regular;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    width: 210px;
    height: 60px;
    margin-bottom: 50px;
    border: none;
    outline: none;
    background: #effaf7;
    margin-right: 10px;
    margin-left: 10px;
    background-size: cover;
}

.indicator {
    display: flex;
    justify-content: center;
}

.portfolio_fail {
    width: 320px;
    height: 360px;
}

.work_site {
    padding-top: 30px;
}

.img_portfolio,
.img_portfolio_2,
.img_portfolio_3,
.img_portfolio_4,
.img_portfolio_5,
.img_portfolio_6 {
    width: 320px;
    height: 360px;
    margin-bottom: 20px;
}

.img_portfolio {
    background: url(../img/img_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img_portfolio_2 {
    background: url(../img/2_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img_portfolio_3 {
    background: url(../img/шьп_2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img_portfolio_5 {
    background: url(../img/4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img_portfolio_4 {
    background: url(../img/5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.text_portfolio {
    display: none;
}

.headline_portfolio {
    font-size: 20px;
    font-family: "Montserrat", bold;
    color: rgb(34, 28, 28);
}

.content_portfolio {
    font-size: 15px;
    font-family: "Montserrat", bold;
    color: rgb(66, 65, 65);
}

.portfolio_indicator:hover {
    background: #5fdcb9;
    border-style: none;
}

div[filter]:hover .img_portfolio,
div[filter]:hover .img_portfolio_2,
div[filter]:hover .img_portfolio_3,
div[filter]:hover .img_portfolio_4,
div[filter]:hover .img_portfolio_5,
div[filter]:hover .img_portfolio_6 {
    background: #effaf7;
}

div[filter]:hover .text_portfolio {
    display: block;
    position: relative;
    top: 50%;
    text-align: center;
    max-width: 300px;
    width: 100%;
}


/* end portfolio */

footer .container-fluid {
    background: #5fdcb9;
    font-family: "Montserrat", regular;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}


/* end footer */

#toTop {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #5fdcb9;
    border-radius: 50%;
    bottom: 50px;
    right: 130px;
    display: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    z-index: 999;
    color: #000000;
}

.menu {
    /* text-transform: none; */
    list-style: none;
}


/* ADAPTIV */

@media screen and (max-width:768px) {
    .header {
        height: 650px;
    }
    .photo {
        height: 550px;
        width: 350px;
        top: -30px;
    }
    #name {
        font-size: 50px;
        top: 5%;
    }
    #position {
        font-size: 30px;
        top: 5%;
    }
}

@media screen and (max-width:950px) {
    .header {
        height: 650px;
    }
    /* не работает */
    .menu {
        max-height: 0;
        background: blue;
        left: 0;
    }
    .showing {
        max-height: 20em;
    }
    .menu li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
        background: yellow;
    }
    .icon_burger {
        display: block;
        position: relative;
        top: 45px;
        left: 100%;
        background: transparent;
    }
    nav a {
        display: none;
    }
    /* не работает */
    .photo {
        height: 600px;
        width: 350px;
        top: -20px;
    }
    #name {
        font-size: 50px;
        top: 5%;
    }
    #position {
        font-size: 30px;
        top: 5%;
    }
    /* end header */
    .section_me {
        background: #effaf7;
        padding-left: 0px;
    }
    .for_me,
    .skills,
    .education,
    .portfolio {
        text-transform: uppercase;
        color: #071f18;
        font-family: "Kelly Slab", regular;
        font-size: 45px;
        padding-top: px;
    }
    .content {
        margin-top: 50px;
        margin-left: 50px
    }
    .icon {
        margin: 10px;
    }
    .button_position {
        left: 30%;
    }
    /* end about me */
    .section_skills {
        padding-left: 0px;
        margin-bottom: 25px;
    }
    .skills {
        padding-bottom: 50px;
    }
    .text_skills {
        padding-bottom: 32px;
    }
    .first_skills {
        padding-left: 75px;
    }
    /* end skills */
    .section_education {
        padding-left: 0px;
        margin-bottom: 25px;
    }
    .universati {
        margin-top: 70px;
        margin-left: 75px;
    }
    /* end education */
    .section_portfolio {
        height: 1000px;
        padding-left: 0px;
    }
    .portfolio {
        padding-bottom: 50px;
    }
    .portfolio_indicator {
        font-size: 22px;
        width: 210px;
        height: 60px;
        margin-bottom: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .work_site {
        padding-top: 30px;
    }
    .img_portfolio,
    .img_portfolio_2,
    .img_portfolio_3,
    .img_portfolio_4,
    .img_portfolio_5,
    .img_portfolio_6 {
        width: 220px;
        height: 290px;
        margin-bottom: 20px;
    }
    /* end portfolio */
    #toTop {
        bottom: 65px;
        right: 100px;
    }
}