@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 750px;
    background: url(../img/Группа\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 40%;
}

.header_nav {
    display: flex;
    justify-content: flex-end;
}

.menu_button {
    display: none;
}

.menu {
    display: flex;
    position: relative;
    left: 100px;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-transform: lowercase;
    color: #071f18;
    text-decoration: none;
    font-size: 30px;
    font-family: "Kelly Slab", regular;
    margin-left: 20px;
    margin-top: 40px;
    display: block;
}

.menu_button {
    display: none;
    position: relative;
    top: 45px;
    left: 700px;
    background: azure;
    width: 40px;
    height: 40px;
    border: none;
}

.menu_button:hover {
    background: grey;
}


/* .icon_burger {
    display: none;
    width: 30px;
    height: 30px;
} */

nav a:after {
    float: both;
    content: "";
    display: block;
    height: 5px;
    width: 45px;
    background: #caeee4;
    transition: #caeee4 0.2 linear;
    opacity: 0;
    transition: opacity 0.1s linear;
    clear: both;
}

nav a:hover {
    color: #727573;
    text-decoration: none;
}

nav a:hover:after {
    opacity: 1;
}

.photo {
    height: 700px;
    width: 350px;
    background-image: url(../IMG_0439.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    position: relative;
    top: -100px;
    display: block;
}

#name {
    font-size: 60px;
    font-family: "Kelly Slab", regular;
    position: relative;
    top: 20%;
    margin-left: 150px;
    margin-bottom: 20px;
}

#position {
    font-size: 30px;
    font-family: "Kelly Slab", regular;
    position: relative;
    top: 20%;
    margin-left: 150px;
    margin-bottom: 20px;
}


/* end header */

.section_me {
    height: 750px;
    width: 100%;
    background: #effaf7;
    padding-left: 190px;
}

.for_me,
.skills,
.education,
.portfolio {
    width: 100%;
    text-transform: uppercase;
    color: #071f18;
    font-family: "Kelly Slab", regular;
    font-size: 45px;
    padding-top: 116px;
}

.text {
    width: 100%;
    text-transform: uppercase;
    font-family: "Montserrat", regular;
    font-size: 25px;
    color: #000000;
    padding-top: 33px;
}

.information {
    width: 100%;
    font-size: 25px;
    color: #3c3f3e;
    padding-top: 33px;
    font-family: "Montserrat", regular;
}

.content {
    width: 100%;
    margin-top: 70px;
    padding-left: 70px
}

.icon {
    width: 25px;
    height: 20px;
    text-decoration: none;
    color: #3c3f3e;
    margin: 10px;
}

.icon:hover {
    background: #3618b9;
    color: white;
    border: 2px solid #3618b9;
    border-radius: 5px;
}

.button {
    width: 235px;
    height: 64px;
    background: #5fdcb9;
    text-decoration-line: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Montserrat", regular;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.button a {
    text-decoration: none;
    color: #000000;
}

.button a:hover,
.button:hover {
    color: #252525;
    background: #80f0d0;
}


/* end section for_me */

.section_skills {
    height: 620px;
    width: 100%;
    background: white;
    padding-left: 190px;
}

.skills {
    padding-bottom: 70px;
}

.text_skills {
    font-family: "Montserrat", regular;
    font-size: 25px;
    text-transform: uppercase;
    color: #071f18;
    padding-bottom: 32px;
}

.content_skills {
    font-family: "Montserrat", regular;
    font-size: 20px;
    text-transform: uppercase;
    color: #3c3f3e;
}

.first_skills {
    padding-left: 75px;
}


/* end section skills */

.section_education {
    height: 930px;
    width: 100%;
    background: #effaf7;
    padding-left: 190px;
}

.name_colige,
span,
.time,
.specialty {
    color: #000000;
    font-family: "Montserrat", regular;
    font-size: 25px;
    text-transform: lowercase;
}

.name_colige {
    text-transform: uppercase;
}

span {
    color: #8c8c8c;
}

.time {
    color: #3c3f3e;
    padding-bottom: 20px;
}

.specialty {
    color: #3c3f3e;
}

.universati {
    margin-top: 70px;
    padding-left: 75px;
}


/* end education */

.section_portfolio {
    height: auto;
    width: 100%;
    background: white;
    margin-bottom: 20px;
}

.portfolio {
    padding-bottom: 70px;
}

.portfolio_indicator {
    color: #071f18;
    font-family: "Montserrat", regular;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    width: 210px;
    height: 60px;
    margin-bottom: 50px;
    border: none;
    outline: none;
    background: #effaf7;
    margin-right: 10px;
    margin-left: 10px;
    background-size: cover;
}

.indicator {
    display: flex;
    justify-content: center;
}

.portfolio_fail {
    width: 320px;
    height: 360px;
}

.work_site {
    padding-top: 30px;
}

.text_portfolio {
    display: none;
}

.headline_portfolio {
    font-size: 20px;
    font-family: "Montserrat", bold;
    color: rgb(34, 28, 28);
}

.content_portfolio {
    font-size: 15px;
    font-family: "Montserrat", bold;
    color: rgb(66, 65, 65);
}

figure.effect-milo:hover {
    background: #2e5d5a;
}

h2.headline_portfolio {
    display: none;
}

figure.effect-milo:hover h2.headline_portfolio {
    display: block;
}

figure.effect-milo h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
}

figure.effect-milo img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
    /* transform: translate3d(-30px,0,0) scale(1.12); */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-milo:hover img {
    opacity: 0.1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

figure.effect-milo p {
    padding: 0 10px 0 0;
    width: 50%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

figure.effect-milo:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-milo:hover .content_date {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: blanchedalmond;
    font-size: 12px;
    display: block;
    margin-top: 20px;
    text-transform: lowercase;
}


}
.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: white;
    text-align: center;
    cursor: pointer;
    height: 360px;
    margin-bottom: 20px;
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.grid figure h2 span {
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    color: blanchedalmond;
}
.grid figure h2,
.grid figure p {
    margin: 0;
    color: white;
}
.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
    width: 150px;
}

/* end portfolio */
footer .container-fluid {
    background: #effaf7;
    font-family: "Montserrat", regular;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* end footer */
#toTop {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #5fdcb9;
    border-radius: 50%;
    bottom: 50px;
    right: 130px;
    display: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    z-index: 999;
    color: #000000;
}
.menu {
    list-style: none;
}

/* ADAPTIV */
@media screen and (max-width:1020px) {
    nav a {
        font-size: 27px;
    }
    
    .menu {
        left: 130px;
    }
    /* portfolio */
    
    .img_portfolio,
    .img_portfolio_2,
    .img_portfolio_3,
    .img_portfolio_4,
    .img_portfolio_5,
    .img_portfolio_6 {
        width: 265px;
        height: 320px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:950px) {
    .header {
        height: 650px;
    }
    /* не работает */
    
    .menu_button {
        display: block;
        left: 700px;
    }
    /* .icon_burger {
        display: block;
    } */
    
    .menu {
        max-height: 0;
        background: blue;
        left: 0;
    }
    
    .showing {
        max-height: 20em;
    }
    
    li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
        background: yellow;
        height: 40px;
    }
    
    nav a {
        display: none;
    }
    /* не работает */
    
    .photo {
        height: 600px;
        width: 350px;
        top: -20px;
    }
    
    #name {
        font-size: 50px;
        top: 5%;
        margin-left: 80px;
    }
    
    #position {
        font-size: 30px;
        top: 5%;
        margin-left: 80px;
    }
    /* end header */
    
    .section_me {
        background: #effaf7;
        padding-left: 0px;
    }
    
    .for_me,
    .skills,
    .education,
    .portfolio {
        text-transform: uppercase;
        color: #071f18;
        font-family: "Kelly Slab", regular;
        font-size: 45px;
        padding-top: px;
    }
    
    .content {
        margin-top: 50px;
        margin-left: 50px
    }
    
    .icon {
        margin: 10px;
    }
    
    .button_position {
        left: 65%;
    }
    /* end about me */
    
    .section_skills {
        padding-left: 0px;
        margin-bottom: 25px;
    }
    
    .skills {
        padding-bottom: 50px;
    }
    
    .text_skills {
        padding-bottom: 32px;
    }
    
    .first_skills {
        padding-left: 75px;
    }
    /* end skills */
    
    .section_education {
        padding-left: 0px;
        margin-bottom: 25px;
    }
    
    .universati {
        margin-top: 70px;
        margin-left: 75px;
    }
    /* end education */
    
    .section_portfolio {
        height: auto;
        padding-left: 0px!important;
    }
    
    .portfolio {
        padding-bottom: 50px;
    }
    
    .portfolio_indicator {
        font-size: 22px;
        width: 210px;
        height: 60px;
        margin-bottom: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .work_site {
        padding-top: 30px;
    }
    
    .grid figure {
        min-width: 220px;
        height: 400px;
        margin-bottom: 20px;
    }
    /* end portfolio */
    
    #toTop {
        position: fixed;
        bottom: 100px;
        right: 50px;
    }
}
@media screen and (max-width:758px) {
    .header {
        height: 650px;
    }
    
    .menu_button {
        display: block;
        left: 550px;
    }
    
    .icon_burger {
        display: block;
    }
    
    .photo {
        height: 550px;
        width: 350px;
        top: -30px;
    }
    
    #name {
        font-size: 50px;
        top: 5%;
        margin-left: 55px;
    }
    
    #position {
        font-size: 30px;
        top: 5%;
        margin-left: 55px;
    }
    
    .for_me,
    .skills,
    .education,
    .portfolio {
        text-transform: uppercase;
        color: #071f18;
        font-family: "Kelly Slab", regular;
        font-size: 45px;
    }
    
    .content {
        margin-top: 50px;
        margin-left: 0px
    }
    
    .text {
        font-size: 20px;
    }
    
    .information {
        font-size: 20px;
    }
    
    .icon {
        margin: 4px;
    }
    
    .button_position {
        left: 65%;
    }
    /* skills */
    
    .section_skills {
        height: 620px;
        width: 100%;
        background: white;
        padding-left: 0px;
    }
    
    .skills {
        padding-bottom: 70px;
    }
    
    .text_skills {
        font-size: 18px;
    }
    
    .content_skills {
        font-family: "Montserrat", regular;
        font-size: 18px;
        text-transform: uppercase;
        color: #3c3f3e;
    }
    
    .first_skills {
        padding-left: 75px;
    }
    /* education */
    
    .section_education {
        padding-left: 0;
    }
    
    .name_colige,
    span,
    .time,
    .specialty {
        font-size: 20px;
    }
    
    .universati {
        margin-left: 60px;
        padding-left: 0;
    }
    /* portfolio */
    
    .section_portfolio {
        height: auto;
        padding-left: 0px;
    }
    
    .portfolio {
        padding-bottom: 10px;
    }
    
    .portfolio_indicator {
        font-size: 23px;
        width: 190px;
        height: 60px;
        margin-bottom: 20px;
    }
    
    .indicator {
        display: flex;
        justify-content: center;
    }
    
    .portfolio_fail {
        width: 320px;
        height: 360px;
    }
    
    .grid figure {
        height: 400px;
        min-width: 500px;
        margin-bottom: 20px;
    }
    /* end portfolio */
    
    #toTop {
        bottom: 65px;
        right: 50px;
    }
}
@media screen and (max-width:640px) {
    .header {
        height: 400px;
    }
    
    .menu_button {
        display: block;
        left: 460px;
    }
    
    .icon_burger {
        display: block;
    }
    
    .photo {
        height: 0px;
        width: 0px;
        top: 0px;
    }
    
    #name {
        font-size: 50px;
        top: 5%;
        margin-left: 55px;
    }
    
    #position {
        font-size: 30px;
        top: 5%;
        margin-left: 55px;
    }
    
    .for_me,
    .skills,
    .education,
    .portfolio {
        font-size: 35px;
        padding-top: 70px;
    }
    
    .section_me {
        height: 650px;
    }
    
    .content {
        margin-top: 50px;
        margin-left: 0px;
    }
    /* skills */
    
    .section_skills {
        height: 750px!important;
        padding-left: 0px;
    }
    
    .skills {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    
    .first_skills {
        padding-left: 75px;
    }
    
    .second_skills {
        padding-left: 75px;
    }
    /* education */
    
    .section_education {
        padding-left: 0;
        height: 800px!important;
    }
    
    .universati {
        margin-left: 60px;
        padding-left: 0;
    }
    /* portfolio */
    
    .section_portfolio {
        height: auto;
        padding-left: 0px;
    }
    
    .portfolio {
        padding-bottom: 50px;
        padding-top: 70px;
    }
    
    .grid figure {
        height: 300px;
        min-width: 300px;
        margin: 20px auto
    }
    /* end portfolio */
    
    #toTop {
        bottom: 65px;
        right: 30px;
    }
    /* footer */
    /* .container-fluid {
        display: none;
    } */
}
@media screen and (max-width:400px) {
    .header {
        height: 400px;
    }
    
    .menu_button {
        display: block;
        left: 260px;
    }
    
    .icon_burger {
        display: block;
    }
    
    .photo {
        height: 0px;
        width: 0px;
        top: 0px;
    }
    
    #name {
        font-size: 50px;
        top: 5%;
        margin-left: 55px;
    }
    
    #position {
        font-size: 30px;
        top: 5%;
        margin-left: 55px;
    }
    
    .for_me,
    .skills,
    .education,
    .portfolio {
        font-size: 35px;
        padding-top: 70px;
    }
    
    .section_me {
        height: 880px!important;
    }
    
    .text {
        font-weight: 700;
    }
    
    .button {
        margin: 40px auto;
    }
    
    .content {
        margin-top: 50px;
        margin-left: 0px;
    }
    /* skills */
    
    .section_skills {
        height: 750px!important;
        padding-left: 0px;
    }
    
    .skills {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    
    .first_skills {
        padding-left: 70px;
        padding-bottom: 30px;
    }
    
    .second_skills {
        padding-left: 70px;
    }
    
    .second_skills {
        padding-left: 75px;
    }
    /* education */
    
    .section_education {
        padding-left: 0;
        height: 1050px!important;
    }
    
    .text_skills {
        font-weight: 700;
    }
    
    .universati {
        margin-left: 0px!important;
        padding-left: 75px!important;
        width: 250px;
    }
    
    .name_colige,
    span,
    .time,
    .specialty {
        width: 250px;
    }
    /* portfolio */
    
    .section_portfolio {
        height: auto;
        padding-left: 0px;
    }
    
    .portfolio {
        padding-bottom: 50px;
        padding-top: 70px;
    }
    
    .grid figure {
        width: 300px;
        height: 380px;
    }
    /* end portfolio */
    
    #toTop {
        bottom: 65px;
        right: 30px;
    }
    /* footer */
    
    .container-fluid {
        display: none;
    }
}